body{
    background-image: url("./assets/topper.jpg"); 
    background-size:cover;
    background-position: center;
    text-align: center;
    background-color: lightseagreen;
} 
img{
    border: solid 2px red;
}
img{
    border: solid 2px blue;
    background-color: greenyellow;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
}
img{
    width: 25%;
    vertical-align: middle;
}
p{
    font-size: 18px;
    width: 74%;
    vertical-align: middle;
    display: inline-block;
}

